<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>mealkitLand</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 유저 -->
  <servlet>
  	<servlet-name>User</servlet-name>
  	<servlet-class>com.mealkitland.user.UserFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>User</servlet-name>
  	<url-pattern>*.user</url-pattern>
  </servlet-mapping>
  
  <!-- 문의 게시판 -->
  <servlet>
  	<servlet-name>Board</servlet-name>
  	<servlet-class>com.mealkitland.board.BoardFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Board</servlet-name>
  	<url-pattern>*.board</url-pattern>
  </servlet-mapping>
  <!-- 공지 사항  -->
  
  <!-- 구독(결제) -->

  <!-- 관리자 -->
  
  <!-- 구독조회 -->
    <servlet>
  	<servlet-name>Subscribe</servlet-name>
  	<servlet-class>com.mealkitland.subscribe.SubscribeFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Subscribe</servlet-name>
  	<url-pattern>*.subscribe</url-pattern>
  </servlet-mapping>
  
  <!-- 장바구니 -->
      <servlet>
  	<servlet-name>CartOk</servlet-name>
  	<servlet-class>com.mealkitland.cart.CartFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CartOk</servlet-name>
  	<url-pattern>*.cart</url-pattern>
  </servlet-mapping>

</web-app>