@charset "UTF-8";

element.style {
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    height: 100%;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    /* line-height: 1.4; */
    font-family: 'Pretendard', sans-serif;
    word-break: break-all;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /* -ms-touch-action: none; */
}

:root {
    view-transition-name: root;
}

html {
    display: block;
}

head {
    display: none;
}

meta {
    display: none;
}

.content-wrap {
    min-height: 700px;
}

.frame-sm {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

.content-wrap.frame-sm .page-title-area:first-child {
    padding-top: 70px;
}

.page-title-area {
    position: relative;
}

.title-page {
    font-size: 25px;
    font-weight: 700;
}

div {
    display: block;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.page-title-area ~ .order-payment-area {
    margin-top: 35px;
}

.order-payment-area {
    position: relative;
    padding-right: 340px;
}

button, input {
    overflow: visible;
}

input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

form {
    display: block;
    margin-top: 0em;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
}

label, select, input, textarea {
    vertical-align: middle;
}

.order-info {
    position: relative;
    padding: 0 0 60px;
}

.order-info .list-head {
    position: relative;
    padding: 30px 0 20px;
    border-top: 1px solid #666;
}

.order-info .title-list {
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.order-info .list-head {
    position: relative;
    padding: 30px 0 20px;
    border-top: 1px solid #666;
}

.order-info .info-txt {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    margin-right: 15px;
}

ol, ul {
    list-style: none;
}

.order-info .info-txt li {
    float: left;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.order-info .info-txt li:after {
    display: inline-block;
    content: '/';
    margin: 0 3px;
    vertical-align: top;
}

.text-primary {
    color: #FF6001 !important;
}

a {
    background: transparent;
    text-decoration: none;
    color: inherit;
}

.order-address .text-primary .ico-arr-right {
    margin-top: 2.5px;
    vertical-align: top;
}

[class*="ico-arr-"] {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    transition: .2s;
    -webkit-transition: .2s;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

i {
    font-style: italic;
}

.text-primary [class*="ico-arr-"]:after, .text-primary [class*="ico-arr-"]:before, .text-primary-sm [class*="ico-arr-"]:after, .text-primary-sm [class*="ico-arr-"]:before {
    background-color: #FF6001 !important;
    box-shadow: none;
}

.ico-arr-right:before {
    top: 0;
    left: 50%;
    width: 1px;
    height: 59.45%;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

[class*="ico-arr-"]:after, [class*="ico-arr-"]:before {
    position: absolute;
    display: block;
    content: '';
    background-color: #000;
    box-shadow: inset 0 0 0 32px;
}

.text-primary [class*="ico-arr-"]:after, .text-primary [class*="ico-arr-"]:before, .text-primary-sm [class*="ico-arr-"]:after, .text-primary-sm [class*="ico-arr-"]:before {
    background-color: #FF6001 !important;
    box-shadow: none;
}

.ico-arr-right:after {
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 59.45%;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

[class*="ico-arr-"]:after, [class*="ico-arr-"]:before {
    position: absolute;
    display: block;
    content: '';
    background-color: #000;
    box-shadow: inset 0 0 0 32px;
}

.order-address .text-primary .ico-arr-right {
    margin-top: 2.5px;
    vertical-align: top;
}

[class*="ico-arr-"] {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    transition: .2s;
    -webkit-transition: .2s;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

button, input {
    overflow: visible;
}

.order-info .list-head-sub {
    position: relative;
    padding: 30px 0 5px;
    border-top: 1px solid #ccc;
    margin: 30px 0 15px;
}

.order-info .list-head .custom-checkbox, .order-info .list-head-sub .custom-checkbox {
    position: absolute;
    top: 32px;
    right: 0;
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.custom-checkbox input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    vertical-align: top;
}

input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

.custom-checkbox input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: top;
}

.custom-checkbox .checkbox + label {
    padding-left: 26px;
    min-height: 18px;
}

.custom-checkbox .checkbox + label:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

