@charset "UTF-8";

element.style {
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    height: 100%;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    /* line-height: 1.4; */
    font-family: 'Pretendard', sans-serif;
    word-break: break-all;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /* -ms-touch-action: none; */
}

:root {
    view-transition-name: root;
}

html {
    display: block;
}

head {
    display: none;
}

meta {
    display: none;
}

.content-wrap {
    min-height: 700px;
}

.frame-sm {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

.content-wrap.frame-sm .page-title-area:first-child {
    padding-top: 70px;
}

.page-title-area {
    position: relative;
}

.title-page {
    font-size: 25px;
    font-weight: 700;
}

div {
    display: block;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.page-title-area ~ .order-payment-area {
    margin-top: 35px;
}

.order-payment-area {
    position: relative;
    padding-right: 340px;
}

input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

form {
    display: block;
    margin-top: 0em;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
}

label, select, input, textarea {
    vertical-align: middle;
}

.order-info {
    position: relative;
    padding: 0 0 60px;
}

.order-info .list-head {
    position: relative;
    padding: 30px 0 20px;
    border-top: 1px solid #666;
}

.order-info .title-list {
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.order-info .list-head {
    position: relative;
    padding: 30px 0 20px;
    border-top: 1px solid #666;
}

.order-info .info-txt {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    margin-right: 15px;
}

ol, ul {
    list-style: none;
}

.order-info .info-txt li {
    float: left;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.order-info .info-txt li:after {
    display: inline-block;
    content: '/';
    margin: 0 3px;
    vertical-align: top;
}

.text-primary {
    color: #FF6001 !important;
}

a {
    background: transparent;
    text-decoration: none;
    color: inherit;
}

.order-address .text-primary .ico-arr-right {
    margin-top: 2.5px;
    vertical-align: top;
}

[class*="ico-arr-"] {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    transition: .2s;
    -webkit-transition: .2s;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

i {
    font-style: italic;
}

.text-primary [class*="ico-arr-"]:after, .text-primary [class*="ico-arr-"]:before, .text-primary-sm [class*="ico-arr-"]:after, .text-primary-sm [class*="ico-arr-"]:before {
    background-color: #FF6001 !important;
    box-shadow: none;
}

.ico-arr-right:before {
    top: 0;
    left: 50%;
    width: 1px;
    height: 59.45%;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

[class*="ico-arr-"]:after, [class*="ico-arr-"]:before {
    position: absolute;
    display: block;
    content: '';
    background-color: #000;
    box-shadow: inset 0 0 0 32px;
}

.text-primary [class*="ico-arr-"]:after, .text-primary [class*="ico-arr-"]:before, .text-primary-sm [class*="ico-arr-"]:after, .text-primary-sm [class*="ico-arr-"]:before {
    background-color: #FF6001 !important;
    box-shadow: none;
}

.ico-arr-right:after {
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 59.45%;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

[class*="ico-arr-"]:after, [class*="ico-arr-"]:before {
    position: absolute;
    display: block;
    content: '';
    background-color: #000;
    box-shadow: inset 0 0 0 32px;
}

.order-address .text-primary .ico-arr-right {
    margin-top: 2.5px;
    vertical-align: top;
}

[class*="ico-arr-"] {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    transition: .2s;
    -webkit-transition: .2s;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.order-info .list-head-sub {
    position: relative;
    padding: 30px 0 5px;
    border-top: 1px solid #ccc;
    margin: 30px 0 15px;
}

.order-info .list-head .custom-checkbox, .order-info .list-head-sub .custom-checkbox {
    position: absolute;
    top: 32px;
    right: 0;
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.custom-checkbox input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    vertical-align: top;
}

input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

.custom-checkbox input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: top;
}

.custom-checkbox .checkbox + label {
    padding-left: 26px;
    min-height: 18px;
}

.custom-checkbox .checkbox + label:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.order-address ~ .lineless-table {
    margin-top: 20px;
}

.lineless-table table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

legend, caption {
    position: absolute;
    left: -99999px;
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    text-indent: -99999px;
    clip: rect(0,0,0,0);
    *display: none;
}

address, caption, strong[lang=en], em, cite, b {
    font-weight: normal;
    font-style: normal;
}

caption {
    display: table-caption;
    text-align: -webkit-center;
}

colgroup {
    display: table-column-group;
}

element.style {
    width: 100px;
}

col {
    display: table-column;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.lineless-table.type2 th {
    padding: 3px 0;
}

.lineless-table th {
    text-align: left;
    font-weight: normal;
    padding: 10px 0;
    font-size: 13px;
    vertical-align: middle;
}

table td, table th {
    word-break: keep-all;
    word-wrap: break-word;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

.lineless-table.type2 th .es {
    vertical-align: top;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.es:after {
    display: inline-block;
    content: "";
    margin-top: 5px;
    margin-left: 2px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    vertical-align: top;
    background: #FF6001;
}

.lineless-table.type2 td {
    padding: 3px 0;
}

.lineless-table td {
    text-align: left;
    font-weight: normal;
    padding: 10px 0;
    font-size: 15px;
    vertical-align: middle;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

.wp100, .w-full {
    width: 100% !important;
}

.input-text {
    height: 40px;
    padding: 5px 15px;
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 13px;
    border-radius: 0;
}

.lineless-table .row-th-top th {
    vertical-align: top;
    padding-top: 17px;
}

.input-group-wrap.box-type {
    border: 1px solid #ccc;
}

.input-group {
    height: 40px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: collapse;
    /* width: 100%; */
}

.lineless-table .row-th-top .input-group > .input-group-cell {
    padding: 0;
}

.input-group > .input-group-cell {
    display: table-cell;
    padding: 0 5px;
}

.w160 {
    width: 160px !important;
}

.input-group > .input-group-cell > .input-text {
    width: 100%;
}

.input-group-wrap .input-group .input-text {
    border: 0;
}

.input-group .input-text {
    height: 100%;
    /* height: 40px; */
    padding: 3px 15px;
}

input[readonly] {
    background-color: #F3F8FF;
    border: 1px solid #ccc;
    opacity: 1;
    color: #333;
}

.input-group-wrap.box-type .input-group-cell + .input-group-cell {
    border-left: 1px solid #ddd;
}

.input-group-wrap .input-group > .input-group-btn:last-child {
    padding: 0;
}

.input-group > .input-group-form, .input-group > .input-group-btn {
    display: table-cell;
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    border: 0;
    padding: 0 5px;
}

.input-group-wrap.box-type .input-group-btn > .btn-ex-white {
    position: relative;
    margin: -1px;
    height: 44px;
    line-height: 44px;
}

.btn-ex-white {
    display: inline-block;
    background-color: #fff;
    font-size: 13px;
    min-width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #333;
    border: 1px solid #333;
}

.lineless-table .input-group-wrap + .input-text, .lineless-table .input-group + .input-group {
    margin-top: 6px;
}

.wp100, .w-full {
    width: 100% !important;
}

.input-group > .input-group-txt:first-child, .input-group > .input-group-form:first-child {
    padding-left: 0 !important;
}

.input-group .select-box, .input-group .btn-form {
    height: 40px;
}

.w135 {
    width: 135px !important;
}

.select-box {
    display: inline-block;
    min-width: 120px;
    position: relative;
    height: 40px;
    vertical-align: top;
    z-index: 2;
    text-align: left;
    max-width: 100%;
}

.select-box .select-value > span {
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    display: block;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
    color: #999;
}

.select-box .select-value:after {
    content: '';
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    width: 7px;
    height: 7px;
    border-top: 1px solid #555;
    border-left: 1px solid #555;
    transform: rotate(225deg) translateY(100%);
    -webkit-transform: rotate(225deg) translateY(100%);
    -ms-transform: rotate(225deg) translateY(100%);
}

.select-box .select-list {
    display: none;
    overflow-y: auto;
    position: absolute;
    top: calc(100% - 1px);
    width: 100%;
    max-height: 300px;
    padding: 0;
    border: 1px solid #ddd;
    background: #fff;
    z-index: 1;
}

ul {
    display: block;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.select-box .select-list li:first-child {
    margin-top: 0;
}

.select-box .select-list a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 17px 10px;
    background: #fff;
    box-sizing: border-box;
    font-size: 14px;
}

.select-box .select-list li + li {
    border-top: 1px solid #ddd;
}

.input-group > .input-text {
    position: relative;
    display: table-cell;
    float: left;
    width: 100%;
    z-index: 2;
}

