@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
footer {
    display: block;
}
html, body {
    height: 100%;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Pretendard', sans-serif;
    word-break: break-all;
}
.footer-menu {
    width: 100%;
    max-width: 1920px;
    min-height: 48px;
    padding: 19px 0 20px;
    margin: 0 auto;
    background-color: #f8f8f8;
}
div {
    display: block;
}
.frame-sm {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}
ol, ul {
    list-style: none;
}
.footer-menu-list{
	padding-inline-start: 40px;
}
.footer-menu-list > li {
    display: inline-block;
    padding: 0 16px 0 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.footer-menu-list > li > a {
    color: #666;
    font-size: 14px;
}
a {
    background: transparent;
    text-decoration: none;
    color: inherit;
}
.footer-menu-list > li:before {
    display: inline-block;
    content: '';
    width: 1px;
    height: 13px;
    vertical-align: middle;
    background: #ccc;
    margin: 0px 20px 0 0;
}
.footer-menu-list > li:first-child:before{
	display:none;
}
.footer-info {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 0 30px 163px;
    overflow: hidden;
}
.footer-info .footer-logo {
    position: absolute;
    top: 35px;
    left: 0;
    display: block;
    width: 200px;
    height: 100px;
    background: url(../../image/logo.png) no-repeat;
    background-size: contain;
    margin-bottom: 26px;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
}
strong {
    font-weight: bold;
}
.footer-info .colum-info {
    position: relative;
    float: left;
    width: 50%;
    font-size: 12px;
    color: #666;
}
h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.footer-biz-info {
    padding-right: 26px;
}
ol, ul {
    list-style: none;
}
<<<<<<< HEAD
/* ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} */
=======
>>>>>>> kgm
.footer-biz-info li .company-name {
    font-size: 14px;
    color: #333;
    font-weight: 500;
}
.footer-biz-info li {
    font-size: 13px;
    color: #777;
    line-height: 23px;
    display: inline;
    letter-spacing: -0.4px;
}
/* .footer-biz-info li::after {
    display: inline-block;
    content: '|';
    padding: 0 3px;
} */
.footer-biz-info li {
    font-size: 13px;
    color: #777;
    line-height: 23px;
    display: inline;
    letter-spacing: -0.4px;
}
a {
    background: transparent;
    text-decoration: none;
    color: inherit;
}
.colum-info .copyright {
    margin-top: 10px;
    color: #666;
    font-size: 13px;
}
.footer-biz-info li:first-child {
    display: block;
    border: none;
    margin-bottom: 3px;
}

.footer-info .customer-info > li {
    display: inline-block;
    margin-right: 10px;
    color: #777;
    font-size: 13px;
    line-height: 23px;
}

.footer-info .customer-info > li.cscenter {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
.footer-info .customer-info > li.cscenter .footer-tel {
    font-size: 15px;
    color: #EF8C51;
    font-weight: 700;
}
address, caption, strong[lang=en], em, cite, b {
    font-weight: normal;
    font-style: normal;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
}

.footer-bottom {
    border-top: 1px solid #eee;
    width: 1100px;
    margin: 0 auto 0;
    padding: 14px 0 17px;
}
.footer-bottom .service-txt {
    text-align: center;
}
.footer-bottom .service-txt li {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    color: #666;
    font-size: 13px;
    line-height: 20px;
}
a {
    background: transparent;
    text-decoration: none;
    color: inherit;
}
.ico-footer-service01 {
    background-position: left top;
    width: 22px;
}
[class^="ico-footer-"] {
    display: inline-block;
    vertical-align: top;
    height: 21px;
    background-image: url(../../image/logo.png);
    margin-right: 8px;
    margin-top: -1px;
}
i {
    font-style: italic;
}
.footer-bottom .service-txt li:after {
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 0;
    content: '';
    width: 1px;
    height: 12px;
    background: #ccc;
    vertical-align: middle;
}
.ico-footer-service02 {
    background-position: right top;
    width: 18px;
    margin-top: -2px;
}
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}