@charset "UTF-8";
.wrap {
    position: relative;
    min-width: 1300px;
    /* max-width: 1920px; */
}
.container {
    position: relative;
    min-height: 700px;
    padding-bottom: 100px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
}
div {
    display: block;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

section {
    display: block;
}
html, body {
    height: 100%;
    /* color: #333; */
    font-size: 14px;
    font-weight: 400;
    /* line-height: 1.4; */
    font-family: 'Pretendard', sans-serif;
    word-break: break-all;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /* -ms-touch-action: none; */
}
.login-container {
    min-height: 700px;
    background: #f7f7f7;
    margin-bottom: -100px;
}
.login-area {
    width: 420px;
    margin: 0 auto;
    padding-bottom: 140px;
}
.login-greeting {
    padding-top: 100px;
    font-size: 32px;
    color: #000;
    font-weight: 500;
    margin-bottom: 20px;
}
.login-greeting .txt {
    font-weight: normal;
}
.txt, .txt span {
    word-break: break-all;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
}
.login-greeting .message {
    line-height: 1.6;
}
.login-greeting .message .ico-logo-login {
    vertical-align: top;
    margin-right: 5px;
}
.ico-logo-login {
    width: 110px;
    height: 100px;
    object-fit: contain;
}
[class^="ico-logo-"] {
    display: inline-block;
    background: url(../../image/logo.png) 0 0;
    background-size: cover;
}
i {
    font-style: italic;
}
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
}
label, select, input, textarea {
    vertical-align: middle;
}
input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
}
legend, caption {
    position: absolute;
    left: -99999px;
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    text-indent: -99999px;
    clip: rect(0,0,0,0);
    *display: none;
}
.wp100, .w-full {
    width: 100% !important;
}
.input-group {
    height: 40px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: collapse;
    /* width: 100%; */
}
.login-area .input-text.type-lg {
    font-size: 15px;
}
.input-group.type-lg .input-text, .input-text.type-lg {
    height: 50px;
    padding: 3px 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 13px;
    border-radius: 6px;
}
.input-group .input-text {
    height: 100%;
    /* height: 40px; */
    padding: 3px 15px;
    
}

.input-group > .input-text {
    position: relative;
    display: table-cell;
    float: left;
    width: 100%;
    z-index: 2;
}
.input-text {
    height: 40px;
    padding: 5px 15px;
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 13px;
    border-radius: 0;
}
.login-area .input-group + .input-group {
    margin-top: 8px;
}
.input-group-wrap ~ .textarea-box, .input-group ~ .input-group {
    margin-top: 8px;
}
.wp100, .w-full {
    width: 100% !important;
}
.input-group {
    height: 40px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: collapse;
    /* width: 100%; */
}
.login-area .chk-area {
    position: relative;
    margin-top: 15px;
}
.login-area .remember-me-con .remember-me1-con {
    margin-right: 12px;
}
.custom-checkbox {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.custom-checkbox input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    vertical-align: top;
}
input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
.login-area .custom-checkbox .checkbox + label {
    min-height: 22px;
    line-height: 22px;
    padding-left: 28px;
}
.custom-checkbox input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: top;
}
.custom-checkbox .checkbox + label {
    padding-left: 26px;
    min-height: 18px;
}
.login-area .custom-checkbox .checkbox:checked + label:before {
    width: 22px;
    height: 22px;
    border-radius: 3px;
    background-position: -47px -224px;
}
.login-area .custom-checkbox .checkbox + label:before {
    width: 22px;
    height: 22px;
    border-radius: 3px;
}
.custom-checkbox .checkbox:checked + label:before {
    background: #FF6001 url(/resources/pc/images/icon/ico_form.png?ver=20220511) -50px -30px;
    width: 18px;
    height: 18px;
    border: 1px solid #FF6001;
}
.custom-checkbox .checkbox + label:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box
}
.custom-checkbox {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.custom-checkbox input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    vertical-align: top;
}
input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:0;
}
.login-area .custom-checkbox .checkbox + label {
    min-height: 22px;
    line-height: 22px;
    padding-left: 28px;
}
.custom-checkbox input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: top;
}
.custom-checkbox .checkbox + label {
    padding-left: 26px;
    min-height: 18px;
}
.login-area .custom-checkbox .checkbox:checked + label:before {
    width: 22px;
    height: 22px;
    border-radius: 3px;
    background-position: -47px -224px;
}
.login-area .custom-checkbox .checkbox + label:before {
    width: 22px;
    height: 22px;
    border-radius: 3px;
}
.custom-checkbox .checkbox:checked + label:before {
    background: #FF6001 url(/resources/pc/images/icon/ico_form.png?ver=20220511) -50px -30px;
    width: 18px;
    height: 18px;
    border: 1px solid #FF6001;
}
.custom-checkbox .checkbox + label:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.login-area .input-group ~ .btn-basic-lg2 {
    margin-top: 15px;
}
.login-area .btn-basic-lg2 {
    height: 50px;
}
.btn-primary {
    background: #ff6001;
    color: #fff;
    border: 1px solid #ff6001;
}
.btn-basic-lg2 {
    min-width: 180px;
    height: 48px;
    padding: 10px 25px 11px;
}
[class*="btn-basic-"], [class*="btn-option"] {
    border-radius: 6px;
}
[class*="btn-basic-"], [class*="btn-option"], [class*="btn-rud-"] {
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    vertical-align: top;
}
.login-area .btn-basic-lg2.btn-primary.w-full > span {
    font-size: 18px;
    line-height: 1.7;
}
.btn-basic-lg2 > span {
    font-size: 15px;
    line-height: 1.8;
}
[class*="btn-basic-"] > span, [class*="btn-option"] > span, [class*="btn-rud-"] > span {
    display: inline-block;
    vertical-align: top;
}
button span {
    position: relative;
}
.login-area .find-con {
    margin-top: 30px;
}
.page-guide-center {
    width: 100%;
    text-align: center;
}
ol, ul {
    list-style: none;
}
.login-area .txt-link-list li {
    display: inline-block;
    color: #999;
    font-size: 14px;
}
.text-black2 {
    color: #333 !important;
}
a {
    background: transparent;
    text-decoration: none;
    color: inherit;
}
.login-area .txt-link-list li:last-child:not(:only-child):before {
    display: inline-block;
    content: '';
    width: 1px;
    height: 8px;
    background: #ccc;
    vertical-align: middle;
    margin: 0 8px 0 3px;
}
p {
    display: block;
    /* margin-block-start: 1em; */
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}