@charset "UTF-8";

html {
	-webkit-text-size-adjust: 100%;
	/* -ms-text-size-adjust: 100%; */
	/* -ms-touch-action: none; */
}

html, body {
	height: 100%;
	color: #333;
	font-size: 14px;
	font-weight: 400;
	/* line-height: 1.4; */
	font-family: 'Pretendard', sans-serif;
	word-break: break-all;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
	/* box-sizing: border-box; */
	-webkit-box-sizing: border-box;
	/* -moz-box-sizing: border-box; */
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	main, menu, nav, section {
	display: block;
}

a {
	background: transparent;
	text-decoration: none;
	color: inherit;
}

ol, ul {
	list-style: none;
}

button, input, optgroup, select, textarea {
	font: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
}

select, textarea {
	-webkit-appearance: none;
	appearance: none;
}

label, select, input, textarea {
	vertical-align: middle;
}

input {
	writing-mode: horizontal-tb !important;
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
}

.search-box ~.board-list, .menu-title-area ~.board-form,
	.menu-title-area ~.board-list, .menu-title-area ~.coupon-box,
	.menu-title-area ~.top-search-box, .menu-title-area ~.grid-list-wrap {
	margin-top: 10px;
}

.wrap {
	position: relative;
	min-width: 1300px;
	/* max-width: 1920px; */
}

.container {
	position: relative;
	min-height: 700px;
	padding-bottom: 100px;
}

.frame-sm {
	position: relative;
	max-width: 1100px;
	margin: 0 auto;
}

.content-wrap {
	min-height: 700px;
}

.page-title-area {
	position: relative;
}

.content-wrap.frame-sm .page-title-area:first-child {
	padding-top: 70px;
}

.title-page {
	font-size: 25px;
	font-weight: 700;
}

.frame-wrap, .clear:after, [class*="frame-"]:after {
	display: block;
	clear: both;
	content: '';
}

.page-title-area ~.frame-wrap {
	margin-top: 20px;
}

.frame-left {
	float: left;
}

.aside-menu-wrap {
	width: 220px;
}

.aside-menu {
	padding: 10px 24px;
	border: 1px solid #E6E6E6;
}

.aside-menu .menu-list>li {
	padding: 15px 0;
	border-top: 1px solid #eee;
}

.aside-menu .menu-list>li:first-child {
	border-top: 0;
}

.aside-menu .menu-list>li .menu {
	font-size: 15px;
	color: #000;
	font-weight: 500;
}

.aside-guide-box {
	padding: 30px 24px;
	border: 1px solid #E6E6E6;
	margin-top: 15px;
}

.aside-guide-box dl dt {
	color: #333;
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 8px;
}

.aside-guide-box dd {
	color: #666;
	line-height: 19px;
}

.aside-guide-box .phone-num {
	color: #333;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 5px;
}

.text-num-md {
	font-weight: 400;
}

.frame-wrap, .clear:after, [class*="frame-"]:after {
	display: block;
	clear: both;
	content: '';
}

/* #counselRegFrm{
            float: right;
        } */

/* 메인 작성 */
.frame-right {
	float: right;
}

.frame-cnt-inner {
	width: 820px;
}

.menu-title-area {
	position: relative;
	min-height: 30px;
}

.menu-title-area .title-menu {
	display: inline-block;
	font-size: 24px;
	font-weight: 500;
}

legend, caption {
	position: absolute;
	left: -99999px;
	display: block;
	width: 1px;
	height: 1px;
	overflow: hidden;
	text-indent: -99999px;
	clip: rect(0, 0, 0, 0);
	*display: none;
}

.board-form {
	width: 100%;
	border-top: 1px solid #666;
	border-bottom: 1px solid #ccc;
}

.board-form table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

colgroup {
	display: table-column-group;
}

table td, table th {
	/* word-break: keep-all; */
	word-wrap: break-word;
}

.board-form table th, .board-form table td {
	/* border-top: 1px solid #E9E9E9;
            padding: 8px 0 8px 10px; */
	vertical-align: middle;
	word-break: break-all;
}

.board-form table tbody th {
	/* border-right: 1px solid #E9E9E9; */
	font-size: 14px;
	/* font-weight: 500; */
}

.board-form.type2 table th, .board-form.type2 table td {
	padding: 18px 0;
}

.board-form.type2 table tbody th {
	border-right: 0;
	font-weight: 400;
}

.board-form table tbody tr:first-child th, .board-form table tbody tr:first-child td
	{
	border-top: 0;
}

.board-form table .in-tb {
	padding: 3px 0 4px;
	word-break: break-all;
}

address, caption, strong[lang=en], em, cite, b {
	font-weight: normal;
	font-style: normal;
}

.blind {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.es:after {
	display: inline-block;
	content: "";
	margin-top: 5px;
	margin-left: 2px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	vertical-align: top;
	background: #FF6001;
}

.wp100, .w-full {
	width: 100% !important;
}

.input-group {
	height: 40px;
}

.input-group {
	position: relative;
	display: table;
	border-collapse: collapse;
	/* width: 100%; */
}

.input-group>.input-group-form, .input-group>.input-group-btn {
	display: table-cell;
	position: relative;
	white-space: nowrap;
	width: 1%;
	vertical-align: middle;
	border: 0;
	padding: 0 5px;
}

.input-group>.input-group-txt:first-child, .input-group>.input-group-form:first-child
	{
	padding-left: 0 !important;
}

.select-box {
	display: inline-block;
	min-width: 120px;
	position: relative;
	height: 40px;
	vertical-align: top;
	z-index: 2;
	text-align: left;
	max-width: 100%;
}

.select-box .select-value {
	display: block;
	position: relative;
	height: 100%;
	padding: 0 36px 0 15px;
	border: 1px solid #ccc;
	font-size: 14px;
	/* color: #333; */
	box-sizing: border-box;
	background: #fff;
}

.select-box.on {
	z-index: 4;
}

.select-box .select-value.placeholder {
	color: #999;
}

.w150 {
	width: 150px !important;
}

.select-box .select-value>span {
	position: relative;
	top: 50%;
	left: 0;
	/* transform: translateY(-50%); */
	-webkit-transform: translateY(-50%);
	display: block;
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	word-break: break-all;
	color: #999;
}

.select-box .select-value:after {
	content: '';
	display: block;
	position: absolute;
	right: 20px;
	top: 50%;
	width: 7px;
	height: 7px;
	border-top: 1px solid #555;
	border-left: 1px solid #555;
	/* transform: rotate(225deg) translateY(100%); */
	-webkit-transform: rotate(225deg) translateY(100%);
	/* -ms-transform: rotate(225deg) translateY(100%); */
}

.select-box .select-list {
	display: none;
	overflow-y: auto;
	position: absolute;
	top: calc(100% - 1px);
	width: 100%;
	max-height: 300px;
	padding: 0;
	border: 1px solid #ddd;
	background: #fff;
	z-index: 1;
}

.select-box .select-list li:first-child {
	margin-top: 0;
}

.select-box .select-list a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px 17px 10px;
	background: #fff;
	box-sizing: border-box;
	font-size: 14px;
}

.select-box .select-list li+li {
	border-top: 1px solid #ddd;
}

.input-group .input-text {
	height: 100%;
	/* height: 40px; */
	padding: 3px 15px;
}

.input-group>.input-text {
	position: relative;
	display: table-cell;
	float: left;
	width: 100%;
	z-index: 2;
}

.input-text {
	height: 40px;
	padding: 5px 15px;
	background: #fff;
	color: #333;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 13px;
	border-radius: 0;
}

.board-form.type2 table tbody th {
	border-right: 0;
	font-weight: 400;
}

.board-form.type2 table th, .board-form.type2 table td {
	padding: 18px 0;
}

.board-form table tbody th {
	/* border-right: 1px solid #E9E9E9; */
	font-size: 14px;
	/* font-weight: 500; */
}

.board-form table th, .board-form table td {
	border-top: 1px solid #E9E9E9;
	/* padding: 8px 0 8px 10px; */
	vertical-align: middle;
	word-break: break-all;
}

.board-form table .in-tb {
	padding: 3px 0 4px;
	word-break: break-all;
}

.board-form table tbody td:last-child {
	border-right: 0;
}

.board-form.type2 table th, .board-form.type2 table td {
	padding: 18px 0;
}

.board-form table tbody td {
	/* border-right: 1px solid #E9E9E9; */
	font-size: 15px;
	color: #666;
}

.input-group .input-text {
	height: 100%;
	/* height: 40px; */
	padding: 3px 15px;
}

.input-group>.input-text {
	position: relative;
	display: table-cell;
	float: left;
	width: 100%;
	z-index: 2;
}

.input-group>.input-text+.input-group-form:last-child, .input-group>.input-text+.input-group-btn:last-child
	{
	padding: 0 0 0 5px;
}

.input-group>.input-group-form, .input-group>.input-group-btn {
	display: table-cell;
	position: relative;
	white-space: nowrap;
	width: 1%;
	vertical-align: middle;
	border: 0;
	/* padding: 0 5px; */
}

.input-group .select-box, .input-group .btn-form {
	height: 40px;
}

.btn-ex-white {
	display: inline-block;
	background-color: #fff;
	font-size: 13px;
	min-width: 100px;
	/* height: 40px; */
	line-height: 40px;
	text-align: center;
	color: #333;
	border: 1px solid #333;
}

.btn-form {
	/* display: inline-block; */
	/* height: 42px; */
	padding: 0 13px;
	/* text-align: center; */
	border-radius: 3px;
}

button, [type="button"], [type="reset"], [type="submit"] {
	/* -webkit-appearance: none; */
	appearance: none;
	cursor: pointer;
	/* border: 0; */
	/* padding: 0; */
	background-image: none;
}

button {
	background: none;
	font-family: 'Pretendard', sans-serif;
	cursor: pointer;
	outline: none;
	border: 0;
	margin: 0;
	padding: 0;
}

.btn-form>span {
	display: inline-block;
	height: 100%;
	line-height: 2.8;
}

button span {
	position: relative;
}

.board-form.type2 table tbody th {
	border-right: 0;
	font-weight: 400;
}

.board-form.type2 table th, .board-form.type2 table td {
	padding: 18px 0;
}

.board-form table .in-tb {
	padding: 3px 0 4px;
	word-break: break-all;
}

address, caption, strong[lang=en], em, cite, b {
	font-weight: normal;
	font-style: normal;
}

.blind {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.es:after {
	display: inline-block;
	content: "";
	margin-top: 5px;
	margin-left: 2px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	vertical-align: top;
	background: #FF6001;
}

.h230 {
	height: 230px;
}

.textarea-box-count {
	position: relative;
	border: 1px solid #ccc;
	width: 100%;
	padding: 15px 20px 40px;
}

.textarea-box-count textarea {
	border: 0;
	width: 100%;
	min-height: 60px;
	height: 100%;
	resize: none;
	font-size: 13px;
}

.textarea-box-count .txt-count {
	position: absolute;
	right: 15px;
	bottom: 15px;
	font-size: 12px;
	color: #333;
}

.textarea-box-count .txt-count .total {
	color: #999;
}

.reply-area ~.pagination, .banner-list-wrap ~.pagination, .board-list ~.pagination,
	.board-list ~.btn-bottom-area, .board-form ~.btn-bottom-area,
	.list-lately-wrap ~.btn-bottom-area, .order-list-area ~.pagination {
	margin-top: 20px;
}

.btn-bottom-area {
	position: relative;
	text-align: center;
}

.btn-bottom-area>[class*="btn-"]:first-child:not(.w-full):not(:only-child)
	{
	margin: 0 2px 0 0;
}

.board-form+.btn-bottom-area [class*="btn-basic-"], .board-form+.btn-bottom-area [class*="btn-option"]
	{
	border-radius: 6px;
}

.btn-bottom-area>[class*="btn-"]:not(.w-full) {
	/* margin: 0 3px; */
	vertical-align: top;
}

.btn-grey3 {
	background: #ccc;
	color: #fff;
}

.btn-basic-lg2 {
	min-width: 180px;
	height: 48px;
	padding: 10px 25px 11px;
}

[class*="btn-basic-"], [class*="btn-option"], [class*="btn-rud-"] {
	display: inline-block;
	text-align: center;
	border: 1px solid transparent;
	box-sizing: border-box;
	/* vertical-align: top; */
}

button, [type="button"], [type="reset"], [type="submit"] {
	appearance: none;
	cursor: pointer;
}

.btn-grey3>span {
	font-weight: 400;
}

.btn-basic-lg2>span {
	font-size: 15px;
	line-height: 1.8;
}

[class*="btn-basic-"]>span, [class*="btn-option"]>span, [class*="btn-rud-"]>span
	{
	display: inline-block;
	vertical-align: top;
}

button span {
	position: relative;
}

.btn-bottom-area>[class*="btn-"]:last-child:not(.w-full):not(:only-child)
	{
	margin: 0 0 0 2px;
}

.board-form+.btn-bottom-area [class*="btn-basic-"], .board-form+.btn-bottom-area [class*="btn-option"]
	{
	border-radius: 6px;
}

.btn-primary {
	background: #ff6001;
	color: #fff;
	border: 1px solid #ff6001;
}

.btn-bottom-area:after {
	display: block;
	content: '';
	clear: both;
}

.frame-wrap, .clear:after, [class*="frame-"]:after {
	display: block;
	clear: both;
	content: '';
}

.frame-wrap, .clear:after, [class*="frame-"]:after {
	display: block;
	clear: both;
	content: '';
}

/* 모달 */
.layer-wrap {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10001;
}

.layer-wrap:before {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 100;
}

.layer-wrap .layer-pop {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
	background-color: #fff;
	-webkit-transform: translate3d(0, 0, 0) translateZ(1);
	transform: translate3d(0, 0, 0) translateZ(1);
	transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.layer-wrap .layer-pop.order-search-pop {
	width: 780px;
	height: 550px;
	/* padding: 40px 30px 50px; */
}

.layer-pop .layer-inner {
	position: relative;
}

.layer-pop.order-search-pop .layer-inner {
	height: 100%;
}

.layer-pop .layer-inner .layer-head {
	padding: 20px 30px;
}

.layer-head .layer-pop-title {
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
}

.layer-pop .layer-inner .layer-content {
	padding: 0 30px;
}

.layer-wrap .layer-pop.order-search-pop .layer-content {
	min-height: 200px;
	height: calc(100% - 80px);
}

.search-box {
	padding: 15px 18px;
	background: #F8F8F8;
	border: 1px solid #ECECEC;
}

.search-box .search-head {
	position: relative;
	padding-right: 80px;
}

.search-box .search-head .searn-period {
	font-size: 14px;
}

/* 조회설정*/
button, [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	/* border: 0; */
	padding: 0;
	background-image: none;
}

.btn-link-txt2 {
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
}

.search-box .search-head .btn-link-txt2 {
	position: absolute;
	top: 0;
	right: 0;
	color: #666;
}

button span {
	position: relative;
}

[class*="ico-arr-"] {
	position: relative;
	display: inline-block;
	width: 12px;
	height: 12px;
	transition: .2s;
	-webkit-transition: .2s;
	transform: translateX(0);
	-webkit-transform: translateX(0);
}

.btn-link-txt2 span+i {
	margin-left: 5px;
	margin-right: 0;
}

.btn-link-txt2 [class*="ico-arr-"] {
	vertical-align: middle;
	margin-top: -2px;
	margin-left: 5px;
	width: 11px;
	height: 11px;
}

[class*="ico-arr-"]:after, [class*="ico-arr-"]:before {
	position: absolute;
	display: block;
	content: '';
	background-color: #000;
	box-shadow: inset 0 0 0 32px;
}
.ico-arr-toggle:after {
    top: 50%;
    left: 0;
    width: 60%;
    height: 1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ico-arr-toggle:before {
	top: 50%;
	right: 0;
	width: 60%;
	height: 1px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.btn-link-txt2 [class*="ico-arr-"]:after, .btn-link-txt2 [class*="ico-arr-"]:before
	{
	background-color: #999;
}

/* 모달내용 */
.scroll-area {
	position: relative;
}

.scroll-area.ui-custom-scroll {
	margin-right: -11px;
}

.layer-pop.order-search-pop .scroll-area {
	max-height: 310px;
	margin-top: 15px;
}

element.style {
	max-height: 307.4px;
}

.mCustomScrollBox {
	position: relative;
	overflow: hidden;
	height: 100%;
	max-width: 100%;
	outline: none;
	direction: ltr;
}

.mCSB_container {
	overflow: hidden;
	width: auto;
	height: auto;
}

.mCSB_inside>.mCSB_container {
	margin-right: 11px;
}

element.style {
	position: relative;
	top: 0;
	left: 0;
}

.board-list {
	width: 100%;
	border-top: 1px solid #666;
}

.no-data {
	text-align: center;
	width: 100%;
}

.board-list .no-data, .brand-list-wrap .no-data, .grid-list-wrap .no-data
	{
	padding: 160px 0;
}

.no-data:before {
	display: block;
	content: '';
	margin: 0 auto 10px;
	width: 80px;
	height: 80px;
	background: url("https://www.rankingdak.com/resources/pc/images/icon/ico_img.png") -280px -120px;
}

.no-data .message {
	color: #333;
	font-size: 15px;
}

.mCSB_scrollTools {
	position: absolute;
	width: 4px;
	height: auto;
	left: auto;
	top: 0;
	right: 0;
	bottom: 0;
}

.mCSB_scrollTools .mCSB_draggerContainer {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: auto;
}

.mCSB_scrollTools .mCSB_dragger {
	cursor: pointer;
	width: 100%;
	min-height: initial;
	z-index: 1;
}

element.style {
	position: absolute;
	min-height: 0px;
	display: block;
	height: 221px;
	max-height: 297.4px;
	top: 0px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	position: relative;
	width: 4px;
	height: 100%;
	margin: 0 auto;
	border-radius: 16px;
	text-align: center;
	background-color: #ccc;
}

element.style {
	line-height: 0px;
}

.mCSB_scrollTools .mCSB_draggerRail {
	width: 4px;
	height: 100%;
	margin: 0 auto;
	border-radius: 16px;
	background-color: #f5f5f5;
}

.layer-pop .layer-inner .layer-bottom {
	width: 100%;
	padding: 20px 30px 30px;
	background: #fff;
}

.layer-pop .layer-inner .layer-bottom.type-shadow {
	position: relative;
	z-index: 10;
	box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
}

.layer-pop.order-search-pop .layer-inner .layer-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.layer-pop .layer-inner .layer-bottom .btn-area {
	position: relative;
	text-align: center;
	clear: both;
}

button, [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	/* border: 0; */
	padding: 0;
	background-image: none;
}

[class*="btn-basic-"], [class*="btn-option"], [class*="btn-rud-"] {
	display: inline-block;
	text-align: center;
	border: 1px solid transparent;
	box-sizing: border-box;
	vertical-align: top;
}

[class*="btn-basic-"], [class*="btn-option"] {
	border-radius: 6px;
}

.btn-basic-md {
	height: 44px;
	padding: 8px 20px;
}

.btn-grey3 {
	background: #ccc;
	color: #fff;
}

.layer-bottom .btn-area>[class*="btn-"] {
	margin: 0 3px;
	vertical-align: top;
	width: calc(50% - 5px);
	max-width: 150px;
}

.layer-bottom .btn-area>[class*="btn-"]:first-child {
	margin: 0 3px 0 0;
}

button span {
	position: relative;
}

[class*="btn-basic-"]>span, [class*="btn-option"]>span, [class*="btn-rud-"]>span
	{
	display: inline-block;
	vertical-align: top;
}

.btn-basic-md>span {
	font-size: 15px;
	line-height: 1.8;
}

.btn-grey3>span {
	font-weight: 400;
}

button, select {
	text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	/* border: 0; */
	padding: 0;
	background-image: none;
}

[class*="btn-basic-"], [class*="btn-option"], [class*="btn-rud-"] {
	display: inline-block;
	text-align: center;
	border: 1px solid transparent;
	box-sizing: border-box;
	vertical-align: top;
}

[class*="btn-basic-"], [class*="btn-option"] {
	border-radius: 6px;
}

.btn-basic-md {
	height: 44px;
	padding: 8px 20px;
}

.btn-black {
	color: #fff;
	background: #333;
	border: 1px solid #333;
}

.layer-bottom .btn-area>[class*="btn-"] {
	margin: 0 3px;
	vertical-align: top;
	width: calc(50% - 5px);
	max-width: 150px;
}

.layer-bottom .btn-area>[class*="btn-"]:last-child {
	margin: 0 0 0 3px;
}

[class*="btn-basic-"]>span, [class*="btn-option"]>span, [class*="btn-rud-"]>span
	{
	display: inline-block;
	vertical-align: top;
}

.btn-basic-md>span {
	font-size: 15px;
	line-height: 1.8;
}

.layer-bottom .btn-area:after {
	display: block;
	content: '';
	clear: both;
}

/* 모달 닫기버튼 */
.btn-x-md2 {
	padding: 5px;
	height: 20px;
}

.layer-pop .layer-inner .ui-close-pop {
	position: absolute;
	top: 15px;
	right: 25px;
}

.layer-pop .layer-inner .ui-close-pop.btn-x-md2 {
	height: 30px;
}

[class^="ico-x-"] {
	position: relative;
	display: block;
	width: 20px;
	height: 20px;
}

.ico-x-black {
	color: #333;
}

.btn-x-md2 [class^="ico-x-"] {
	width: 20px;
	height: 20px;
}

.ico-x-black {
	color: #333;
}

[class^="ico-x-"]:before, [class^="ico-x-"]:after {
	position: absolute;
	top: 50%;
	left: -3px;
	display: block;
	content: '';
	width: 130%;
	height: 1px;
	/* background: #666; */
	box-shadow: inset 0 0 0 32px;
}

[class^="ico-x-"]:before {
	transform: rotate(45deg);
}

.btn-x-md2 [class^="ico-x-"]:before, .btn-x-md2 [class^="ico-x-"]:after
	{
	height: 1px;
}

[class^="ico-x-"]:after {
	bottom: 0;
	transform: rotate(-45deg);
}

.btn-x-md2 [class^="ico-x-"]:before, .btn-x-md2 [class^="ico-x-"]:after
	{
	height: 1px;
}

button .blind {
	position: relative;
	font-size: 0;
	color: transparent;
}

.search-box .search-detail {
	padding-top: 18px;
	display: none;
}