<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<insert id="insert">
		insert into tbl_user
		(user_identification, user_password, user_name, user_address, user_birth, user_phone, user_email)
		values(#{userIdentification},#{userPassword}, #{userName}, #{userAddress}, #{userBirth}, #{userPhone}, #{userEmail})
	</insert>
	
	<select id="selectIdentification" resultType="string">
		select user_identification from tbl_user where user_identification = #{userIdentification}
	</select>
	
	<select id="selectEmail" resultType="string">
		select user_email from tbl_user where user_email = #{userEmail}
	</select>
	
	<select id="login" resultType="long">
		select user_id from tbl_user
		where user_identification = #{userIdentification} and user_password = #{userPassword}
	</select>


</mapper>